body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: rgb(101, 49, 223);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background: rgb(50, 17, 112);
    padding: 10px;
    overflow: auto;
    text-align: center;
}   

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    
}

nav a:hover {
    background: rgb(49, 17, 192);
    border: 1px solid;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #2309535d;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
}

section {
    margin-bottom: 20px;
}

section h2 {
    background: #a394cc;
    padding: 10px;
    color: rgb(43, 10, 133);
    border-left: 5px solid #333;
}

pre {
    background: #e9e2e7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    margin: 10px 0;
}

code {
    background: #49269c;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 90%;
    color: white;
}

.code-explanation {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.code-explanation p {
    margin: 0;
}
